

html,body{
   min-height:100%;
}

body {
	font-family: sans-serif, Arial, Verdana, Helvetica;
	background: white;
}


.topnavNewIn {
  overflow: hidden;
	background: #B22222;
	border-bottom: 0.5px solid black;
	right: 0px;
	top: 0px;
	width: 100%;
	position: fixed;
	z-index: 100 !important;
	height: 75px;
}

.topnavNewIn a {
  float: left;
  display: block;
  color: black;
  text-align: center;
	padding-left: 50px;
	text-decoration: none !important;
	font-size: 30px;
	font-weight: bold;
	line-height: 25px;
}

img.logoN {
  width:55px;
  height: 55px !important;
  margin-top: 10px;
  border-radius: 3px;
  border: 0.5px solid #000000;
  z-index: 10000 !important;
}

h1.titulo {
	text-align: center;
	font-size: 4vw !important;
	margin-top: 0 !important;
  padding-top: 0;
}

section.empticons  {
  text-align: center !important;
  margin-top: 20px;
  margin-bottom: 0px;
}

hr.hrhead  {
  margin: 0px;
	border: 0.6px solid #000000;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


div.col {
  display: inline-block !important;
  padding-right: 3vw !important;
  padding-left: 3vw !important;
}

.col a {
  font-weight: 500;
  line-height: 2.5vw;
  color: #000000;
  font-size: 1.7vw;
  text-decoration: none !important;
}

.col a:hover {
color: grey;
}


.buscar {
	display: block;
	text-align: center;
	margin-top: 10px;
  margin-bottom: 5px;
}

#display, #displayb {
	/* background-color: #B1FB17; */
	border-radius:6px;
  border-radius: 5px;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
	/* border-color: #000000; */
  color: #000000;
  font-size: 25px;
  text-decoration: none;
	font-weight: bold;
  cursor: pointer;
	padding: 11px 15px 11px 15px;
}


#display:active, #displayb:active {
	background: red;
	box-shadow: inset 0 0 0 3px #000000;
  transform: translateY(4px);
}

#wait1 {
  left: 10% !important;
  top: 10% !important;
}

.preloader {
  width: 110px;
  height: 110px;
  border: 15px solid red;
  border-top: 15px solid #3D3C3A;
  border-radius: 50%;
  animation-name: girar;
  animation-duration:0.7s;
  animation-iteration-count: infinite;
  position:absolute;
  top:15%;
  left:47%;
  /* padding:0px; */
  z-index:80;
}

.Content
{
  margin: 0 auto;
  height:500px;
  width:70%;
  overflow:auto;
}

div.webHide {
  width: 100% ;
  height: auto;
  text-align: center;
}

.container {
  width: 100% !important;
}

@media (min-width: 0px) and (max-width: 480px) {
/*MOBILE PORTRAIT*/

.topnavNewIn {
  height: 61px;
}

.topnavNewIn a {
  float: left;
  padding-left: 25px;
}

h1.titulo {
  font-size: 10vw !important;
  margin-top: 6px !important;
}

section.empticons  {
  margin-top: 0px;
}

.col a {
  line-height: 5vh !important;
  font-size: 5vw;
}

div.col {
  display: inline-block !important;
  padding-right: 1.5vw !important;
  padding-left: 1.5vw !important;
}

.col {
  padding: 0px;
}

.preloader {
  width: 70px !important;
  height: 70px !important;
  margin-top: 1% !important;
  margin-left: 30% !important;
  border: 10px solid red !important;
  border-top: 10px solid #3D3C3A !important;
}

img.logoN {
  width: 45px;
  height: 45px !important;
  margin-top: 7px;
}


}

@media (min-width: 481px) and (max-width: 767px) {
/*TABLET MOBILE LANDSCAPE*/

.topnavNewIn {
  height: 50px;
}
.topnavNewIn a {
  padding-left: 30px;
}

h1.titulo {
  font-size: 5vw !important;
  margin-top: 0 !important;
}

.empticons {
  display: none;
}

div.col {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

img.logoN {
  width: 35px;
  height: 35px !important;
  margin-top: 7px;
}


}

@media (min-width: 767px) {

  h1.titulo {
    margin-top: 20px !important;
  }

  .webHide{
    display: none;
  }

}
