
.nbblock {
  width: auto;
  overflow-y: hidden !important;
}

div.prompt {
  display:none;
}

html, body{
   width:100% !important;
   height:100%;
   margin:0px;
}

body {
  padding: 0px !important;
	background: white;
}

aside.R {
  margin-right: 9px;
  float: right;
  position: absolute !important;
  right: 0 !important;
}

aside.RCH {
  margin-right: 2%;
  float: right;
  position: absolute !important;
  right: 0 !important;
}

aside.RH {
  margin-right: 9px;
  float: right;
  position: absolute !important;
  right: 0 !important;
}

aside.L {
  margin-left: 9px;
  float: left;
  position: absolute !important;
  left: 0 !important;
}

aside.LCH {
  margin-left: 2%;
  float: left;
  position: absolute !important;
  left: 0 !important;
}

aside.LH {
  margin-left: 9px;
  float: left;
  position: absolute !important;
  left: 0 !important;
}

p.nota {
  font-size: 1vw !important;
	text-align: center !important;
}

p.notahistoricos {
  margin-top: 0px;
  font-size: 1vw !important;
	text-align: center !important;
}

pre {
	font-size: 1vw !important;
}

div.cell {
  padding: 5px 0 0 0!important;
}

.header {
  background-color: #B22222;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  border-bottom: 0.5px solid black;
  position: fixed;
  right:0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header ul {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  list-style: none !important;
  overflow: hidden;
  background-color: #B22222;
}

.header a {
  color: #EBF4FA !important;
}

.header li a {
  font-size: 1.8em;
  font-weight: bold;
  display: block;
  margin-left: -18px;
  padding: 9px 0px;
  text-decoration: none !important;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  margin-top: 28px;
  margin-right: 10px;
  /* padding: 28px 20px; */
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 33px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 10px;
}

.header .menu-icon .navicon:after {
  top: -10px;
}


.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

#form {
  margin: auto !important;
  text-align: center !important;
}

#form input {
  font-size: 2.6vw;
  text-align: center;
  width: 8%;
  display: inline-block;
  border: 2px solid #B22222;
  border-radius: 5px;
}

section.encabezado {
  width: 100% !important;
}

hr.hrhead  {
  margin: 0px;
	border: 0.6px solid #000000;
}

hr.abs  {
	border: 1px solid #D1D0CE;
  margin-top: 5vw;
}

hr.desc  {
	border: 1px solid #000000;
  width:50%;
}

p.contacto {
	font-size: 1.2em;
	margin: auto;
	padding-bottom: 10vh;
	text-align: center;
}

p.mvv {
	font-size: 1.2em;
	margin: 0;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	color: black;
	text-align: left;
}

p.par {
  font-family: 'Roboto', sans-serif;
	font-size: 2vw !important;
	line-height: 1.5;
	text-align: left;
}

.parPHP {
	font-size: 2vw !important;
	line-height: 1.5;
  text-align: center !important;
}

p.paRes {
	display: block;
	text-align: center ;
	font-size: 21px;
	line-height: 1.5;
}

.ls ul, .ls li{
	font-size: 3vh !important;
	line-height: 5vh;
	text-align: left;
	list-style-type: none !important;
}

ol.lst {
	font-size: 28px !important;
	line-height: 1.5 !important;
}

div.butt-l {
	float: left;
	margin-left: 150px;
}

div.butt-r {
	float: right;
	margin-right: 150px;
}

h2.cen {
	line-height: 5px;
	text-align: center;
	font-size: 2vw !important;
	margin-top: 0 !important;
}

h2.atract {
  font-family: 'Roboto', monospace;
	text-align: center;
	font-size: 3vw !important;
	margin-top: 0 !important;
}

h1.tituloBarra {
  font-family: 'Roboto', monospace;
  font-size: 2em !important;
  /* color: #FFFF33; */
  color: #000000;
  margin-left: 8vw !important;
  vertical-align: middle !important;
  position: absolute;
}

h1.titulo {
	text-align: center;
	font-size: 4vw !important;
	margin-top: 0 !important;
  padding-top: 0;
}

h1.tithome {
  text-align: center !important;
  font-size: 0vw !important;
  padding-top: 0;
}

h2.sloganhome {
	text-align: center;
	font-size: 0vw !important;
   margin-top: 0 !important;
}

h2.h2card {
  font-family: 'Roboto', sans-serif;
	font-size: 2em !important;
  padding-top: 15px;
  padding-bottom: 5px;
}

.slogan {
	text-align: center;
	font-size: 2.5vw !important;
	margin-top: 20px !important;
  color: #666362;
}

h2.subtitulo {
	text-align: center;
	font-size: 3vw !important;
	margin-top: 1vw !important;
  color: #666362;
}

h2.subtituloAlertas {
  font-family: 'Oxygen Mono', monospace;
	text-align: center;
	font-size: 3vw !important;
	margin-top: 20px !important;
}

h3.subsubtitulo {
  font-family: 'Oxygen Mono', monospace;
	text-align: center;
	font-size: 2vw !important;
	margin-top: 20px !important;
  /* color: #666362; */
}

.preloader {
  width: 110px;
  height: 110px;
  border: 15px solid red;
  border-top: 15px solid #3D3C3A;
  border-radius: 50%;
  animation-name: girar;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
  position:absolute;
  top:15%;
  left:47%;
  z-index:80;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label.chec {
  font-size: 0px !important;
}

.mobileHideMR {
  min-width: 160px;
  min-height: 600px;
  /* display: block;
  height: auto; */
}

.mobileHideM {
  min-width: 300px;
  min-height: 600px;
}

.mobileHideMCH {
  min-width: 200px;
  min-height: 200px;
}

.mobileHideMdab {
  min-width: 336px;
  min-height: 280px;
}


.ads {
  min-width: 970px;
  min-height: 90px;
  text-align: center;
  margin-top: 2em;
  overflow-y: hidden !important;
}

.adsH {
  min-width: 970px;
  min-height: 90px;
  text-align: center;
  margin-top: 2.5em;
  overflow-y: hidden !important;
}

.adsInt {
  /* min-width: 120px; */
  margin-top: 10px;
  margin-bottom: 10px;
  /* display: block; */
  height: auto;
}

.webHide {
  max-width: 100%;
  text-align: center;
  margin-top:30px;
  display: block;
}

.button_cont {
  margin: auto;
  text-align: center;
}

a.example_a {
  font-size: 1.5vw;
}

.example_a {
	color: #000000 !important;
	/* text-transform: uppercase; */
	text-decoration: none !important;
	background: #FFD801;
	padding: 20px;
	border-radius: 10px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.example_a:hover {
	background: #EAC117;
	/* letter-spacing: 1px; */
	transition: all 0.4s ease 0s;
}

.ticons * {
  box-sizing: border-box !important;
	margin: 0 0 0 0 !important;
}

section.ticons  {
  /* padding-top: 30px; */
	text-align: center !important;
}

.column {
  width: auto;
	padding-left: 2.6vw;
	padding-right: 2.6vw;
	padding-bottom: 3vw;
	display: inline-block !important;
}

.card {
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.8);
  max-width: 240px;
  margin: auto;
  text-align: center;
  /* font-family: arial; */
	color: black;
	border-radius: 10px;
}

.card h1, p{
	padding-top: 5px;
}

.card h1 {
	font-size: 28px;
	margin-left: 7px;
	margin-right: 7px;
}


p.price {
  font-family: 'Roboto', sans-serif;
  color: #505050;
  font-size: 20px !important;
  text-align: center !important;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 25px;
}

.card button {
  border: none;
  outline: 0;
  padding: 13px;
  color: white;
	font-weight: bold;
	font-size: 33px;
  background-color: #B22222;
  text-align: center;
  cursor: pointer;
  width: 100%;
	border-radius: 5px;
}

.card button:hover {
	color: #000000;
	background-color:	#85BB65;
	font-weight: bold;
}

img.frecs {
  width: 100%;
  height: auto;
}

img.imcard {
	max-width: 100%;
  height: auto;
	border-radius: 10px;
}

.fcfim img {
  width: 20%;
  height:50%;
  margin: auto;
  display: block;
}

div.fcft {
   margin-top: 80px;
   margin-bottom: 0;
   text-align: center;
   font-size: 2vw;
}

.ifra {
	width: 100%;
  height: 80vh;
}

.ifrasurf {
	width: 70%;
  height: 90vh;
}

div.output_area pre{
	font-size: 1.8vw !important;
	line-height: 1.6;
	text-align: center;
  color: #B22222 !important;
}

.output_subarea {
	font-size: 1.5vw;
	line-height: 1.6;
}

.math span{
	font-size: 2vw ;
	text-align: center !important;
}

.rendered_html table {
	font-size: 1.5vw !important;
	border: solid !important;
  background-color: rgba(229,228,226) !important;
}

.rendered_html thead {
    background-color: white;
}

.container {
  width: 100% !important;
}

.end_space {
	min-height: 0px !important;
}

#notebook-container {
  padding: 0px !important;
	box-shadow: none !important;
}

img.smayor {
  width: auto;
  height: auto;
  border-radius: 3px;
  border: 1px solid #000000;
}

.cmi img{
  width: 100%;
  height: auto;
	border-radius: 3px;
  border: 1px solid #000000;
  margin-top: 2em;
}

.cmim img{
  width: 100%;
  height: auto;
	border-radius: 3px;
  border: 1px solid #000000;
  margin-top: 3em;
}


img.logoN {
    float: left;
    width:55px;
    margin-top: 13px;
    /* margin-bottom: 13px; */
    margin-left: 1% !important;
		border-radius: 3px;
    z-index: 10000 !important;
	}

	img.negrito {
		height: 60px !important;
	}

  section.empticons  {
  	text-align: center !important;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  div.col {
    display: inline-block !important;
    padding-right: 3vw !important;
    padding-left: 3vw !important;
  }

  .col a {
    font-weight: 500;
    line-height: 2.5vw;
    color: #000000;
    font-size: 1.7vw;
    text-decoration: none !important;
  }

  .col a:hover {
  color: grey;
}

  img.in {
    width: 50px;
  }

  img.you {
    width: 60px;
  }

  img.fb {
    width: 40px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

#toggleButton{
		background-color: #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 2px;
    border-radius:6px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    border: none;
		padding: 8px 12px 8px 12px;
}

#toggleButton:hover {
    border: none;
    background:red;
    box-shadow: 0px 0px 1px #777;
}

div.buscar {
	display: block;
	text-align: center;
	margin-top: 10px;
  margin-bottom: 10px;
}

#display, #displayb {
	border-radius:6px;
  border-radius: 5px;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  color: #FFFFFF;
  font-size: 25px;
  font-family: 'Oxygen Mono', monospace;
  text-decoration: none;
  cursor: pointer;
	padding: 11px 15px 11px 15px;
  background-color: #B22222;
}

#display:active, #displayb:active {
	background: red;
	box-shadow: inset 0 0 0 1px #000000;
  transform: translateY(4px);
}

.flashit{
  color: #800000;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}

@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

div.output_html.rendered_html.output_subarea.output_execute_result {
	max-width: none !important;
}

div.output_subarea {
	max-width: none !important;
}

.bk-root .bk-tooltip {
	font-size: 30px !important;
}


.input_area {
  margin: auto;
	width: 60%;
}

div.input_area {
  padding-left: 15px !important;
}

div.output_area img, div.output_area svg{

		display: block;
    margin-left: auto;
    margin-right: auto;
}

div.output_area {

	text-align: center;
}

.rendered_html tbody tr:hover {

	background: rgba(121, 121, 121, 0.5) !important;

}

.rendered_html ol:not(.list-inline) {
    padding-left: 0 !important;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  left: 0;
  position: absolute;
  left: 0;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 15px 40px 0px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 12px;
  margin: 0;
}

.footer-distributed p.footer-links {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
  padding-right: 2em;
  list-style-type: none !important;
}

.footer-distributed .footer-links a:before {
  /* content: "·"; */
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 4px;
  max-width: 200px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 29px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 9px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

/* .footer-distributed p.footer-links a:hover{text-decoration:underline;} */

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
    /* margin-left: 2em; */
  }
}

.sticky {
  overflow: hidden;
  height: 40px;
  width: 100%;
  background-color: #3D3C3A;
  position: absolute;
  left: 0;
	opacity: 80%;
}

.sticky p {
  margin-bottom: 5px;
  color: white;
  font-weight: normal;
  font-size: 1.3vw !important;
  text-align: center;
}

.adRightW {
  float: right;
  min-width: 300px;
}

div.right {
  margin-right: 0;
  float: right;
}

div.left {
  margin-left: 0;
  float: left;
}

.adRightM {
  min-width: 200px;
  float: right;
  margin-right: 0 !important;
  margin-bottom: 3px;
}

@media (min-width: 768px) {
.mobile {
  display: none;
}
div.adRightM {
  display: none;
}
}

.Content {
  border: 1px solid;
  margin: auto;
  height:600px;
  width: 36%;
  overflow:auto;
}

pre.historicos {
  line-height: 2vw;
  letter-spacing: 1px;
  padding-left: 6%;
	font-size: 1.2vw !important;
}


@media (min-width: 0px) and (max-width: 480px) {

/*MOBILE PORTRAIT*/

.ads {
  min-width: 300px;
  min-height: 250px;
  /* max-width: auto;
  height: auto; */
  text-align: center;
  /* margin-top: 10px; */
}


.mobileHideMdab {
  display: none;
}

.adsH {
  min-width: 300px;
  min-height: 250px;
  /* max-width: auto;
  height: auto; */
  text-align: center;
  margin-top: 1.3em;
}


h1.tituloBarra {
  font-size: 2em !important;
  margin-left: 10vh !important;
  margin-top: 3vh !important;
  position: absolute;
}

aside.RCH {
  display: none;
}

aside.LCH {
  display: none;
}

a.example_a {
  font-size: 5vw;
}

.Content {
  margin: auto;
  margin-top: -15px;
  height: 320px !important;
  width: 95% !important;
  overflow: auto;
}

pre.historicos {
  line-height: 5.9vw;
  letter-spacing: 1.3px;
  /* padding-left: 3% !important; */
  margin-left: 7px !important;
	font-size: 2.5vw !important;
}

.preloader {
  width: 70px !important;
  height: 70px !important;
  margin-top: 10% !important;
  margin-left: 30% !important;
  border: 10px solid red !important;
  border-top: 10px solid #3D3C3A !important;
}

/* section.ticons  {
  padding-top: 5px !important;
} */


h1.tithome {
  padding-top: 0vh !important;
  font-size: 0vh !important;
}

h1.tituloH{
  text-align: center !important;
  font-size: 5vh !important;
  padding-top: 50px;
}

h2.sloganhome {
	font-size: 0vh !important;
  margin-top: 0 !important;
}

h2.h2card {
	font-size: 5.3vw !important;
  padding-top: 9px;
}

.col a {
  line-height: 5vh !important;
  font-size: 5vw;
}

section.empticons  {
  margin-top: 0px !important;
}

div.col {
  display: inline-block !important;
  padding-right: 4vw !important;
  padding-left: 4vw !important;
}

div.colhide {
  display: none !important;
}

hr.abs  {
	border: 1px solid #D1D0CE;
  margin-top: 2vh;
}

.web {
  display: none;
}

div.adRightW {
  display: none;
}

#form {
  margin: auto !important;
  text-align: center !important;
}

#form input {
  font-size: 6.3vw;
  display: inline-block;
  width: 13%;
  border: 1px solid #B22222;
  border-radius: 5px;
  margin: auto;
}

#wait {
  left: 10% !important;
  top: 10% !important;
}

#wait1 {
  left: 10% !important;
  top: 10% !important;
}

  img.chile {
    width: 65px;
    transform: rotate(15deg);
  }

  p.par {
  	font-size: 5vw !important;
  	line-height: 8vw;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  p.nota {
    font-size: 3vw !important;
  }

  p.notahistoricos {
    font-size: 3vw !important;
    text-align: center;
  }

  .parPHP {
  	font-size: 6vw !important;
  	line-height: 1.5;
    text-align: center !important;
  }

  img.logoN {
    width: 45px;
    height: 45px !important;
		margin-top: 9px;
    margin-bottom: 6px;
    margin-left: 3% !important;
	}

  img.negrito {
    height: 50px !important;
  }
	.card {
    /* box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.8); */
		max-width: 39.5vw;
	}
	.card h1 {
    line-height: 20px;
		font-size: 5vw;
		margin-left: 1px;
		margin-right: 1px;
	}
	.card p {
		font-size: 2vw;
	}
	p.price  {
	  font-size: 2vh !important;
    line-height: 17px;
	}
	.card button {
		font-size: 5.5vw;
		padding: 6px;
	}
	.card h1, p{
		padding-top: 1vw !important;
	}
	.column {
		/* padding-top: 2vw; */
		padding-left: 3.5vw;
		padding-right: 3.5vw;
		padding-bottom: 6.5vw;
	}

	h1.titulo {
		font-size: 10vw !important;
		margin-top: 0px !important;
    margin-bottom: 0px;
	}
  h2.subtitulo {
    font-size: 6vw !important;
    margin-top: 2vw !important;
  }

  h2.subtituloAlertas {
  	text-align: center;
  	font-size: 8vw !important;
  	/* margin-top: 20px !important; */
  }

  h3.subsubtitulo {
  	font-size: 6vw !important;
    margin-top: 15px !important;
  }
	.slogan {
		font-size: 7vw !important;
    margin-top: 10px !important;
		padding-top: 0 !important;
	}

	pre {
		font-size: 2vw !important;
	}
  .ls {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
	.input_area {
		width: 100% !important;
	}

  div.but-wrapper {
    padding-top: 20px;
    float: none;
    margin: auto;
    text-align: center;
  }

  h2.atract {
    font-size: 6vw !important;
  }

  div.output_area pre{
  	font-size: 3vh !important;
    color: #B22222 !important;
  }
  .math span{
  	font-size: 4.5vw ;
  }

  .rendered_html table.tritares {
    font-size: 1.8rem !important;
  }

  .rendered_html table.tchres {
    font-size: 1.8em !important;
  }

  .rendered_html table.tmerres {
    font-size: 1.6em !important;
  }

  .rendered_html table.ttrres {
    font-size: 2em !important;
  }

  .rendered_html table {
    font-size: 3.7vw !important;
    border: 1px solid !important;
  }


  div.output_area .rendered_html table {
    margin: auto !important;
  }

	body {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

  div.right {
    display: none;
  }
  div.left {
    display: none;
  }

  div.input_area {
    padding-left: 7px !important;
  }
  img.imagPi {
  	width: 100%;
  	height: auto;
  	}

  .cmim {
    display:none;
  }

  .ifrasurf {
  	width: 100%;
  }

  .mobileHideM {
  	display: none;
  }

  .mobileHideMCH {
  	display: none;
  }

  .mobileHideHR {
  	display: none;
  }

  .mobileHideMR {
  	display: none;
  }

  .sticky {
    height: 20px;
  }

  .sticky p {
    font-size: 3vw !important;
  }

  #notebook-container {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

  .col {
    padding: 0px;
  }

}


@media (min-width: 481px) and (max-width: 768px) {

/*TABLET MOBILE LANDSCAPE*/

.webHide {
  display: none;
}

.mobileHideMdab {
  display: none;
}

.adsH {
  margin-top: 9px;
}

h1.tituloBarra {
  margin-left: 13vw !important;
  position: absolute;
}

.sticky {
  height: 20px;
}

.sticky p {
  font-size: 2vw !important;
}

.Content {
  border: 1px solid;
  margin: auto;
  height:300px;
  width: 60%;
  overflow:auto;
}

pre.historicos {
  line-height: 2.9vw;
  letter-spacing: 0.3px;
  padding-left: 3%;
	font-size: 2.5vw !important;
}

h2.h2card {
	font-size: 1.5vw !important;
  padding: 5px;
}

h1.tithome {
  padding-top: 0vw;
  font-size: 0vw !important;
}

h1.tituloH{
  text-align: center !important;
  font-size: 4vw !important;
  margin-top: 0 !important;
  padding-top: 50px;
}


h2.sloganhome {
	font-size: 0vw !important;
}

div.col {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

  .web {
    display: none;
  }


  img.chile {
    width: 60px;
  }
  .dropbtn {
    font-size: 14px;
  }

  h1.titulo {
  	font-size: 5vw !important;
  	margin-top: 0 !important;
  }
  .slogan {
  	font-size: 3vw !important;
  	margin-top: 10px !important;
  }
  .inav {
		font-size: 20px;
		line-height: 50px;
		font-weight: bold;
	}
  p.par {
    font-size: 3vw !important;
  }
  pre {
    font-size: 1.5vw !important;
  }

  .card {
    /* box-shadow: 15px 15px 5px 3px rgba(0, 0, 0, 0.8); */
		max-width: 20vw;
	}
	.card h1 {
    line-height: 20px;
		font-size: 2.5vw;
		margin-left: 1px;
		margin-right: 1px;
	}
	.card p {
		font-size: 1vw;
	}
	p.price  {
	  font-size: 1.5vw !important;
	}
	.card button {
		font-size: 2.5vw;
		padding: 3px;
	}
	.card h1, p{
		padding-top: 3px !important;
	}
	.column {
		padding-top: 1vw;
		padding-left: 1.5vw;
		padding-right: 1.5vw;
		padding-bottom: 4vw;
	}
  .ls ul, .ls li{
  	font-size: 3vw !important;
  	line-height: 40px;
  }
  .input_area {
    width: 80%;
  }
  .rendered_html table {
  	font-size: 2vw !important;
    border: 1px solid !important;
  }
  div.output_area .rendered_html table {
    margin: auto !important;
  }
  div.adRightW {
    display: none;
  }

  aside.L {
    display: none;
  }
  aside.R {
    display: none;
  }

  aside.RCH {
    display: none;
  }

  aside.LCH {
    display: none;
  }

  aside.LH {
    display: none;
  }
  aside.RH {
    display: none;
  }

  .cmim {
    display: none;
  }

  #notebook-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }


}

/***********SOLO DESKTOP*************/

@media (min-width: 768px) {

  img.logoN {
    margin-bottom: 13px;
	}

  h1.tituloH{
    text-align: center !important;
    font-size: 4vw !important;
    padding-top: 60px;
  }

  p.par {
    padding-left: 5%;
    padding-right: 5%;
  }

  ol.inav {
  	margin-left: 0;
  }

  .ls ul, .ls li {
    padding-left: 5%;
    padding-right: 5%;
  }

  div.output_area .rendered_html table {
    margin: auto !important;
  }

  div.admovil {
    display: none;
  }
  .cmi {
    display:none;
  }
  .list-inline {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  .webHide {
    display: none !important;
  }
}

.svg-container {
  margin-top: 3% !important;
}

td,th {
text-align: center !important;
}
